.cwn-help {
    border-color: #ddd;
    border-width: 2px;
    border-radius: 4px 4px 0 0;
    padding-top: 45px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin-top: 25px;
    margin-bottom:15px;
    border-style: solid;
    display:none;
    position: relative;
}

.cwn-help:after {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
    content: "Help";
}

.cwn-sense {
    display: none;
}

.cwn-status {
    display: none;
}

.cwn-abbrev {
    display: none;
}

.cwn-misspell {
    display: none;
}

.cwn-inflected {
    display: none;
}

body {
    margin-bottom:50px;
    font-family: 'Comfortaa';
}

.radio label {
    position: relative;
}

.navbar-brand {
    font-weight: bold;
}

.navbar {
    background-color: #7b28a4;
    border-radius: 0px;
}

.navbar a {
    color: ghostwhite;
}

.form-control {
    border-radius: 0px;
}

.btn-info {
    background-color: #7b28a4;
    border-color: #7b28a4;
}

.btn-info:hover,.btn-info:focus {
    background-color: #9932cd;
    border-color: #7b28a4;
}
.btn-primary:hover,.btn-primary:focus {
    background-color: #9932cd;
    border-color: #7b28a4;
}


.btn {
    border-radius: 0px;
}

.btn-primary {
    background-color: #7b28a4;
    border-color: #7b28a4;
}

.btn-success {
    background-color: #14cc71;
    border-color: #14cc71;
}

.select2-container--default .select2-selection--single {
    border-radius: 0px;
}

.panel {
    border-color: #dad8de;
    border-radius: 0px;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.panel-info>.panel-heading {
    background-color: white;
    border-bottom: 1px solid #dad8de;
    color: #7b28a4;
}

.summary-entry {
    border-color: #dad8de;
    border-radius: 0px;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    margin: 5px;
}

.nav>li>a:focus, .nav>li>a:focus {
    background-color: #9932cd;
    border-color: #7b28a4;
}

.status-icon {
   height: 50px;
   width: 50px;
  } 

.entry-id {
    font-size:14px;
    color: #bbb;
}

.entry-defn {
    color:#777;
    font-style: italic;
    quotes: '\201c' '\201d'; 
}

.entry-defn:before {
    content: "&ldquo;";
    content: open-quote; 
}

.entry-defn:after {
    content: "&rdquo;";
    content: close-quote; 
}
