*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
*.swp
cwn.db
users.db
queue.db
data-old/
transgender-tweets.txt.gz

colloqwn-corrections.csv
colloqwn-examples.tsv
cwn-old.db
queue-all.csv.gz
wn31.xml
users.csv
