<html>
    <head>
        <title>Colloquial WordNet Editor - Editing</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h1>Edit Entry</h1>
            </div>
            <div class="row">
                <form action="/update/{{entry}}">
                    <div class="form-group">
                        <label for="lemma">Lemma</label>
                        <input type="text" class="form-control"
                               id="lemma" name="lemma" value="{{lemma}}"/>
                    </div>
                    <div class="form-group">
                        <button class="pull-right">Split</button>
                        <label>Example</label>
                        {{#examples}}
                            <p>{{text}}</p>
                        {{/examples}}
                    </div>
                    <div class="form-group">
                        <label for="status">Status</label>
                        <div class="radio"><label>
                        <input type="radio" name="status"
                            value="general"/>General</label></div>
                        <div class="radio"><label>
                        <input type="radio" name="status"
                            value="novel"/>Novel</label></div>
                        <div class="radio"><label>
                        <input type="radio" name="status"
                            value="vulgar"/>Vulgar</label></div>
                        <div class="radio"><label>
                        <input type="radio" name="status"
                            value="abbrev"/>Abbreviation</label></div>
                        <div class="radio"><label>
                        <input type="radio" name="status"
                            value="misspell"/>Misspelling</label></div>
                        <div class="radio"><label>
                        <input type="radio" name="status"
                            value="nonlex"/>Not Lexical</label></div>
                        <div class="radio"><label>
                        <input type="radio" name="status"
                            value="error"/>Error</label></div>
                        <script>$('input[name=status][value={{status}}]').attr('checked', 'checked');</script>
                    </div>
                    {{#senses}}
                    <h3>Sense {{id}}</h3>
                    <div class="form-group">
                        <label for="pos{{id}}">Part of Speech</label>
                        <div class="radio"><label>
                        <input type="radio" name="pos{{id}}"
                            value="n"/>Noun</label></div>
                        <div class="radio"><label>
                        <input type="radio" name="pos{{id}}"
                            value="v"/>Verb</label></div>
                        <div class="radio"><label>
                        <input type="radio" name="pos{{id}}"
                            value="a"/>Adjective</label></div>
                        <div class="radio"><label>
                        <input type="radio" name="pos{{id}}"
                            value="r"/>Adverb</label></div>
                        <div class="radio"><label>
                        <input type="radio" name="pos{{id}}"
                            value="x"/>Other</label></div>
                        <script>$('input[name=pos{{id}}][value={{pos}}]').attr('checked', 'checked');</script>
                    </div>
                    <div class="form-group">
                        <label for="definition{{id}}">Definition</label>
                        <input type="text" class="form-control"
                               id="definition{{id}}" name="definition{{id}}" value="{{definition}}"/>
                    </div>
                    <div class="form-group">
                        <label for="synonym{{id}}">Synonym</label>
                        <input type="text" class="form-control"
                               id="synonym{{id}}" name="synonym{{id}}" value="{{synonym}}"/>
                    </div>
                    <div class="form-group">
                        <table style="width:100%;" id="relTable{{id}}">
                            <tr>
                                <th style="margin-right:10px;">Relation</th>
                                <th>Target</th>
                            </tr>
                    {{#relations}} 
                            <tr>
                                <td>                     
                        <select class="s2-basic"
                               id="relType{{id}}-{{relNo}}"
                               name="relType{{id}}-{{relNo}}"
                               value="{{type}}">
                            <option value="hypernym">Hypernym (broader)</option>
                            <option value="hyponym">Hypernym (narrower)</option>
                            <option value="instance_hypernym">Instance of (hypernym)</option>
                            <option value="instance_hyponym">Has instance (hyponym)</option>
                            <option value="antonym">Antonym (opposite)</option>
                            <option value="emotion">Shows emotion</option>
                            <option value="derivation">Derived from (linguistically)</option>
                            <option value="loanword">Loanword from this language</option>
                            <option value="involved">Involved in</option>
                            <option value="also">See also</option>
                            <option value="causes">Causes</option>
                            <option value="domain_region">Region</option>
                            <option value="domain_topic">Topic</option>
                            <option value="domain_usage">Usage</option>
                            <option value="similar">Similar to</option>
                            <option value="mero_location">Meronym location (sub-location)</option>
                            <option value="mero_member">Meronym member (is member of)</option>
                            <option value="mero_part">Meronym part (is component of)</option>
                            <option value="mero_portion">Meronym portion (is division of)</option>
                            <option value="mero_substance">Meronym substance (is made of)</option>
                            <option value="holo_location">Holonym location (containing location)</option>
                            <option value="holo_member">Holonym member (is group of)</option>
                            <option value="holo_part">Holonym part (is composed of)</option>
                            <option value="holo_portion">Holonym portion (divides into)</option>
                            <option value="holo_substance">Holonym substance (substance of)</option>
                        </select>
                                </td>
                                <td>
                        <div class="ui-widget">
                        <input type="text" class="form-control"
                               id="relTarget{{id}}-{{relNo}}"
                               name="relTarget{{id}}-{{relNo}}"
                               value="{{target}}"/>
                        </div>
                                </td>
                            </tr>
                        <script>relNos[{{id}}] = {{relNo}};wncomplete('#relTarget{{id}}-{{relNo}}');</script>
                    {{/relations}}
                        </table>
                    </div>
                    <div>
                        <button class="btn btn-success" type="button" onclick="addrel({{id}})">Add relation</button>
                    </div>
                    {{/senses}}
<script type="text/javascript">
$(document).ready(function() {
  $('.s2-basic').select2();
});
</script>
                    <div id="submitDiv">
                        <button class="btn btn-success" type="button" onclick="addsense()">Add sense</button>
                        <input type="submit" class="btn btn-default" value="Submit"/>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
