<html>
    <head>
        <title>Summary</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h1>Summary</h1>

                {{#files}}
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3>{{#data}}{{lemma}}{{/data}} &#160;&#160;&lt;{{name}}&gt;
                            <a class="pull-right" style="color:#eee;" href="/edit/{{name}}">Edit</a></h3>
                        </div>
                        <div class="panel-body">
                            {{#data}}
                            <h4>{{status}}</h4>
                            {{#validEntry}}
                            {{#senses}}
                            <p><h5>Sense {{id}}</h5></p>
                            {{^isSyn}}
                            <p>Part of Speech: {{pos}}</p>
                            <p>Definition: {{definition}}</p>
                            {{#relations}}
                            <p>{{type}} &#8594; {{target}}</p>
                            {{/relations}}
                            {{/isSyn}}
                            {{#isSyn}}
                            <p>= {{synonym}}</p>
                            {{/isSyn}}
                            {{/senses}}
                            {{/validEntry}}
                            {{#abbrevOrMisspell}}
                            <p> => {{#senses}}{{definition}}{{/senses}}</p>
                            {{/abbrevOrMisspell}}
                            {{/data}}
                        </div>
                    </div>
                {{/files}}
            </div>
            <div class="row">
                <h3><a href="/summary/{{next}}">Next</a></h3>
            </div>
        </div>
    </body>
</html>
