<!DOCTYPE html>
<html lang="en">
    {{#html}}
  <head>
    {{#head}}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Colloquial WordNet Editor">
    <meta name="author" content="John P. McCrae">
    <link rel="icon" href="/favicon.ico">

    {{title}}

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{contextUrl}}/assets/bootstrap.min.css">
    <link rel="stylesheet" href="{{contextUrl}}/assets/select2.min.css">
    <link rel="stylesheet" href="{{contextUrl}}/assets/jquery-ui.css">
    <script src="{{contextUrl}}/assets/jquery-1.12.0.min.js"></script>
    <script src="{{contextUrl}}/assets/jquery-ui.min.js"></script>
    <script src="{{contextUrl}}/assets/select2.min.js"></script>
    <script src="{{contextUrl}}/assets/cwnedit.js"></script>
    <script src="{{contextUrl}}/assets/wncomplete.js"></script>
    <style>
    div.radio { display:inline; margin-right:20px; }
    .panel- { border-color: #5bc0de; }
    .panel- .panel-heading { border-color: #5bc0de; background-color: #5bc0de; }
    .panel-general { border-color: #286090; }
    .panel-general .panel-heading { background-color: #286090; border-color: #286090; }
    .panel-vulgar { border-color: #d9534f; }
    .panel-vulgar .panel-heading { background-color: #d9534f; border-color: #d9534f; }
    .panel-abbrev { border-color: #aaa; }
    .panel-abbrev .panel-heading { border-color: #aaa; background-color: #aaa; }
    .panel-misspell { border-color: #aaa; }
    .panel-misspell .panel-heading { border-color: #aaa; background-color: #aaa; }
    .panel-name { border-color: #aaa; }
    .panel-name .panel-heading { border-color: #aaa; background-color: #aaa; }
    .panel-nonlex { border-color: #aaa; }
    .panel-nonlex .panel-heading { border-color: #aaa; background-color: #aaa; }
    .panel-error { display: none; }
    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {{/head}}
  </head>

  <body>
  {{#body}}{{_}}{{/body}}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="../../dist/js/bootstrap.min.js"></script>-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
  </body>
  {{/html}}
</html>
